# Configurações do Banco de Dados MySQL
HOST_DB_PORT=3310
DB_PASSWORD=sua_senha_segura_mysql_aqui
DB_DATABASE=gerenciamento_custos

# Configurações de Autenticação JWT
JWT_SECRET=substitua_por_uma_chave_jwt_super_segura_em_producao
JWT_EXPIRES_IN=7d

# Integração Inteligência Artificial Gemini (Opcional)
GEMINI_API_KEY=sua_chave_api_do_gemini_aqui

# Porta de acesso Web para o CloudPanel (Reverse Proxy)
HTTP_PORT=8000
